@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */
/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-iwatch-blue: #c8dce5;
  --color-iwatch-navy: #404354;
  --color-iwatch-mint: #58d7c4;
  --color-iwatch-ocean: #d2dee4;
  --color-white: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #c8dce5, #b6ccda);
  min-height: 100vh;
  color: var(--color-white);
}
